blorg.fsadfsa #asdfkajsdkj #efbeedede {
}

.asdfasdf:focus a[bigness=12]:hover::after canvas[fi=eadf] {
	font-size: 3em;
	background-color: yellow li;
	background-image: url("https://google.com/search?q=yellow} ducks%20%20%20");
}
p > li#p {
	font-weight: bold;
	font-size: bold;
}
@import url('whatev\'er this is a \\string\\\\');
