ted
!windows_installer/ted
!windows_installer/ted/ted
Debug
Release
*~
*.swp
tags
TAGS
*.o
*.out
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.res
*.msi
*.zip
*.a
pcre2*
SDL2
*.deb
test.txt
log.txt
UpgradeLog.htm
