root = true
; yipee
# comments

[*]
trim_TRAILING_whitespace=true
insert_final_newline=true
indent_sizE=16
indent_style=Space
funkel = mitochondrion

[*.biz]
# i love microsoft widnwso
end_of_linE  =  CRLF

[*.txt]
indent_size = 4
Indent_Style = tab
