body {
	font-family: "Noto Sans Mono", monospace;
	background: $COLOR_BG;
	color: $COLOR_TEXT;
	border: 1px solid $COLOR_BORDER;
}
img {
	max-width: 100%;
}
a, a:visited {
	color: $COLOR_LINK;
}
nav {
	border-bottom: 1px solid $COLOR_BORDER;
}
nav table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
}
nav td {
	padding: 2px;
	border-left: 1px solid $COLOR_BORDER;
}
nav td:nth-of-type(1) {
	border-left: 0;
}
nav a, nav a:visited {
	color: $COLOR_TEXT;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: inline-block;
}
nav a:hover {
	text-decoration: underline;
}
nav td[data-selected] {
	background: $COLOR_SELECTED_TAB_BG;
}
h1 {
	margin: 8px 4px;
}
hgroup p {
	font-weight: bold;
	font-style: italic;
	margin: 0 0 0 2em;
}
main {
	padding: 0 4px;
}
#color-scheme-select {
	position: absolute;
	margin-top: 4px;
	right: 12px;
}
